<h1 style="color: darkgrey; font-size: 24px; font-weight: bolder; text-align: center;">Connecting to an Access Database using Python<\h1>
    <h2 style="color: darkgrey; font-size: 12px; text-align: center; padding-top: 0px">Introduction to pyodbc and pandas.io.sql<\h2>

For this example we created an Access Database from AventureWorks2017. Similar to the previus example when we established a connection to SQL server but this time the driver to use is different: "Microsoft Access Driver"

In [20]:
import pyodbc
connection_string=r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=D:\\RAWLYDATA\\Projects\\Python Series\\ConnecttoPython.accdb;"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()
cursor.execute('select * from Production_Product')
   
count=0
for i in cursor:
    print(i)
    if count==3:
        break
    count+=1

(1, 'Adjustable Race', 'AR-5381', False, False, None, 1000, 750, Decimal('0.0000'), Decimal('0.0000'), None, None, None, None, 0, None, None, None, None, None, datetime.datetime(2008, 4, 30, 0, 0), None, None, '694215B7-08F7-4C0D-ACB1-D734BA44C0C8', datetime.datetime(2014, 2, 8, 10, 1, 36))
(2, 'Bearing Ball', 'BA-8327', False, False, None, 1000, 750, Decimal('0.0000'), Decimal('0.0000'), None, None, None, None, 0, None, None, None, None, None, datetime.datetime(2008, 4, 30, 0, 0), None, None, '58AE3C20-4F3A-4749-A7D4-D568806CC537', datetime.datetime(2014, 2, 8, 10, 1, 36))
(3, 'BB Ball Bearing', 'BE-2349', True, False, None, 800, 600, Decimal('0.0000'), Decimal('0.0000'), None, None, None, None, 1, None, None, None, None, None, datetime.datetime(2008, 4, 30, 0, 0), None, None, '9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E', datetime.datetime(2014, 2, 8, 10, 1, 36))
(4, 'Headset Ball Bearings', 'BE-2908', False, False, None, 800, 600, Decimal('0.0000'), Decimal('0.0000'), None, None, None, None, 0, None, None, None, None, None, datetime.datetime(2008, 4, 30, 0, 0), None, None, 'ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B', datetime.datetime(2014, 2, 8, 10, 1, 36))

Again, the way it is displying the results after executing the SQL query is not being displaying in a readable format. That is why it is better to use the pandas.io.sql package.

In [16]:
import pandas.io.sql

And then proceed to assign the table or the result of a query to a pandas dataframe:

In [19]:
production_product= pandas.io.sql.read_sql('SELECT * FROM Production_Product', conn)
production_product.head(n=3)

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36

We can test if we are retriving correct data when running the same query in the Access Database.
<img max-width=300px src="results3.png">

It is important to mention that all tables to be queried from the access database need to be physicall. They cannot be linked tables.

In [21]:
product_subcat= pandas.io.sql.read_sql('SELECT * FROM Production_ProductCategory', conn)
product_subcat.head(n=3)

,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,Bikes,CFBDA25C-DF71-47A7-B81B-64EE161AA37C,2008-04-30
1,2,Components,C657828D-D808-4ABA-91A3-AF2CE02300E9,2008-04-30
2,3,Clothing,10A7C342-CA82-48D4-8A38-46A2EB089B74,2008-04-30